{% block content %}
{% load static %}
<!-- Footer -->
<footer class="har_image_bck text-center har_wht_txt" data-color="#000">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- Copyrights -->
                <h2 class="har_footer_h2">
                    <a class="a-logo-footer" href="/">
                        <img id="logo_menu" src="{% static 'icons/lalala-logo.svg' %}" alt="Logo Lalalá">
                    </a>    
                </h2>

                <!-- Social Buttons -->
                <div class="har_footer_social">
                    <div data-animation="animation_blocks" data-bottom="@class:noactive" data--100-bottom="@class:active">
                        <a href="#"><i class="fa fa-facebook har_icon_box"></i></a>
                        <a href="#"><i class="fa fa-spotify har_icon_box"></i></a>
                        <a href="#"><i class="fa fa-youtube har_icon_box"></i></a>
                        <a href="#"><i class="fa fa-twitter har_icon_box"></i></a>
                    </div>
                </div>

                <p>© Lalalá 2017</p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->

{%endblock%}



<!--<footer class="footer">
    <div class="logo-footer">
        <div class="contenedor-logo-footer">
            <a class="a-logo-footer" href="/">
               {% load static %}
                <img src="{% static 'icons/lalala-logo.svg' %}" alt="Logo footer">
            </a>
        </div>
    </div>
    <div class="container bloque-footer">
        <form action="#" class="bloque-suscribete" id="bloque-suscribete">
            <div class="contenedor-bloque-suscribete">
                <input type="email" placeholder="Email">
                <input type="submit" value="Suscribete">
            </div>
        </form>
        <div class="creditos">
            <ul class="bloque-creditos">
                <li>Diseño Web : <a href="">Kenneth Calvo</a></li>
                <li>Diseño Gráfico : <a href="">Roberto Cruz</a></li>
                <li>Fotografía : <a href="">Michelle Rojas</a></li>
                <li><a href="">Kevin Calvo</a></li>
            </ul>
        </div>

    </div>

</footer> -->


