{% block content %}
<!-- Slider -->
<div class="har_slider_carousel har_slider_txt_animation">

    <!-- Item -->
    <div class="har_slider har_wht_txt">

        <div class="har_slider_img har_image_bck" data-image="http://placehold.it/1400x900"></div>

        <!-- Over -->
        <div class="har_over" data-color="#000" data-opacity="0"></div>



        <!-- Slider Texts -->
        <div class="container">
            <div class="har_slide_txt har_slide_left_middle text-left" data-0="opacity:1; margin-top:0px" data--400-bottom="opacity:0; margin-top:-100px">
                <div class="har_slide_title">{{ titulo }}</div>
            </div> 
        </div>
        <!-- Slider Texts End -->
     <!-- container end -->
    </div>


</div>
<!-- carousel end -->
<!-- Slider End -->
{%endblock%}