{% block content %}
<!-- Audio Player -->
<section class="har_player_container_red">
    <div class="har_over" data-color="rgb(253, 91, 102)" data-opacity="0.9" data-blend="multiply"></div>
    <div class="container">

        <div id="jquery_jplayer_main" class="jp-jplayer"></div>

        <div id="jp_container_content" class="jp-audio-main" role="application" aria-label="media player">
             <!-- Left Player Side -->
            <div class="left-player-side">
                <div class="har-prev">
                    <i class="ti ti-control-skip-backward"></i>
                </div>
                <div class="har-play">
                    <i class="ti ti-control-play"></i>
                </div>
                <div class="har-pause">
                    <i class="ti ti-control-pause"></i>
                </div>
                <div class="har-next">
                    <i class="ti ti-control-skip-forward"></i>
                </div>
                <div class="har-mute" tabindex="0"><i class="ti ti-volume"></i></div>

                <div class="har-volume-bar">
                    <div class="har-volume-bar-value"></div>
                </div>
                <button id="playlist-toggle"><i class="ti ti-menu"></i></button>
            </div>
            <!-- Left Player Side End -->

            <!-- Center Pl Side -->
            <div class="center-side">
                <div class="har-current-time">
                </div>
                <!-- #nowPlaying -->
                <div class="har-seek-bar">
                    <div class="har-play-bar"></div>
                </div>
                <div class="har-duration"></div>
            </div>
            <!-- Center Pl Side End-->
             <!-- Right Pl Side -->
            <div class="right-player-side">
                <div class="har-thumbnail">
                    <img src="images/work/cover.jpg" alt="">
                </div>
                <div class="har-title"></div>
                <div class="har-artist"></div>
            </div>
            <!-- Right Pl Side End-->
            <!-- Error -->
            <div class="jp-no-solution">
                <span>Update Required</span>
                To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
            </div>
            <!-- Error End -->
        </div>

    </div>
    <!-- Container End -->

</section>
<!-- Audio Player End -->


<!-- Start Of Playlist -->
<div class="playlist-wrapper har_wht_txt har_orange_playlist" id="playlist-wrapper">
    <div class="jp-playlist container">
        <div class="about-list clearfix"></div>

        <!-- Item -->
        <div class="trak-item" data-audio="http://www.jplayer.org/audio/mp3/TSP-07-Cybersonnet.mp3" data-artist="Cybersonnet" data-thumbnail="http://placehold.it/790x766" data-id="trak-201">
            <audio preload="metadata" src="http://www.jplayer.org/audio/mp3/TSP-07-Cybersonnet.mp3" title="Mashrous"></audio>
            <div class="additional-button">
                <a href="#"><i class="ti ti-headphone"></i></a>
                <a href="#"><i class="ti ti-apple"></i></a>
                <a href="#"><i class="ti ti-soundcloud"></i></a>
            </div>
            <div class="play-pause-button">
                <i class="ti ti-control-play"></i>
            </div>
            <div class="name-artist">
                <h3>Cybersonnet - Mashrous </h3>
            </div>
            <time class="trak-duration">02:38</time>
        </div>
        <!-- Item End -->

            <!-- Item -->
        <div class="trak-item" data-audio="http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3" data-artist="Miaow" data-thumbnail="http://placehold.it/790x766" data-id="trak-201">
            <audio preload="metadata" src="http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3" title="Believe Me"></audio>
            <div class="additional-button">
                <a href="#"><i class="ti ti-headphone"></i></a>
                <a href="#"><i class="ti ti-apple"></i></a>
                <a href="#"><i class="ti ti-soundcloud"></i></a>
            </div>
            <div class="play-pause-button">
                <i class="ti ti-control-play"></i>
            </div>
            <div class="name-artist">
                <h3> Miaow - Believe Me</h3>      
            </div>
            <time class="trak-duration">04:05</time>
        </div>
        <!-- Item End -->

        <!-- Item -->
        <div class="trak-item" data-audio="http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3" data-artist="Cro Magnon Man" data-thumbnail="http://placehold.it/790x766" data-id="trak-201">
            <audio preload="metadata" src="http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3" title="Be with me"></audio>
            <div class="additional-button">
                <a href="#"><i class="ti ti-headphone"></i></a>
                <a href="#"><i class="ti ti-apple"></i></a>
                <a href="#"><i class="ti ti-soundcloud"></i></a>
            </div>
            <div class="play-pause-button">
                <i class="ti ti-control-play"></i>
            </div>
            <div class="name-artist">
              <h3> Cro Magnon Man - Be with me </h3>
            </div>
            <time class="trak-duration">04:27</time>
        </div>
        <!-- Item end -->

        <!-- Item -->
        <div class="trak-item" data-audio="http://www.jplayer.org/audio/mp3/TSP-05-Your_face.mp3" data-artist="TSP" data-thumbnail="http://placehold.it/790x766" data-id="trak-201">
            <audio preload="metadata" src="http://www.jplayer.org/audio/mp3/TSP-05-Your_face.mp3" title="Your Facwe"></audio>
            <div class="additional-button">
                <a href="#"><i class="ti ti-headphone"></i></a>
                <a href="#"><i class="ti ti-apple"></i></a>
                <a href="#"><i class="ti ti-soundcloud"></i></a>
            </div>
            <div class="play-pause-button">           
                <i class="ti ti-control-play"></i>
            </div>
            <div class="name-artist">       
                <h3> TSP - Your Facwe </h3>                
            </div>
            <time class="trak-duration">02:56</time>
        </div>
        <!-- Item end -->

         <!-- Item -->
        <div class="trak-item" data-audio="http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3" data-artist="Miaow" data-thumbnail="http://placehold.it/790x766" data-id="trak-201">
            <audio preload="metadata" src="http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3" title="Believe Me"></audio>
            <div class="additional-button">
                <a href="#"><i class="ti ti-headphone"></i></a>
                <a href="#"><i class="ti ti-apple"></i></a>
                <a href="#"><i class="ti ti-soundcloud"></i></a>
            </div>
            <div class="play-pause-button">
                <i class="ti ti-control-play"></i>
            </div>
            <div class="name-artist">
                <h3> Miaow - Believe Me</h3>           
            </div>
            <time class="trak-duration">04:05</time>
        </div>
        <!-- Item End -->     

        <!-- Item -->
        <div class="trak-item" data-audio="http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3" data-artist="Miaow" data-thumbnail="http://placehold.it/790x766" data-id="trak-201">
            <audio preload="metadata" src="http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3" title="Believe Me"></audio>
            <div class="additional-button">
                <a href="#"><i class="ti ti-headphone"></i></a>
                <a href="#"><i class="ti ti-apple"></i></a>
                <a href="#"><i class="ti ti-soundcloud"></i></a>
            </div>
            <div class="play-pause-button">
                <i class="ti ti-control-play"></i>
            </div>
            <div class="name-artist">
                <h3> Miaow - Believe Me</h3>               
            </div>
            <time class="trak-duration">04:05</time>
        </div>
        <!-- Item End -->

        <!-- Item -->
        <div class="trak-item" data-audio="http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3" data-artist="Miaow" data-thumbnail="http://placehold.it/790x766" data-id="trak-201">
            <audio preload="metadata" src="http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3" title="Believe Me"></audio>
            <div class="additional-button">
                <a href="#"><i class="ti ti-headphone"></i></a>
                <a href="#"><i class="ti ti-apple"></i></a>
                <a href="#"><i class="ti ti-soundcloud"></i></a>

            </div>
            <div class="play-pause-button">
                <i class="ti ti-control-play"></i>
            </div>
            <div class="name-artist">
                <h3> Miaow - Believe Me</h3>               
            </div>
            <time class="trak-duration">
                04:05
            </time>
        </div>
        <!-- Item End -->

        <!-- Item -->
        <div class="trak-item" data-audio="http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3" data-artist="Miaow" data-thumbnail="http://placehold.it/790x766" data-id="trak-201">
            <audio preload="metadata" src="http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3" title="Believe Me"></audio>
            <div class="additional-button">
                <a href="#"><i class="ti ti-headphone"></i></a>
                <a href="#"><i class="ti ti-apple"></i></a>
                <a href="#"><i class="ti ti-soundcloud"></i></a>
            </div>
            <div class="play-pause-button">
                <i class="ti ti-control-play"></i>
            </div>
            <div class="name-artist">
                <h3> Miaow - Believe Me</h3>  
            </div>
            <time class="trak-duration">04:05</time>
        </div>
        <!-- Item End -->

         <!-- Item -->
        <div class="trak-item" data-audio="http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3" data-artist="Miaow" data-thumbnail="http://placehold.it/790x766" data-id="trak-201">
            <audio preload="metadata" src="http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3" title="Believe Me"></audio>
            <div class="additional-button">
                <a href="#"><i class="ti ti-headphone"></i></a>
                <a href="#"><i class="ti ti-apple"></i></a>
                <a href="#"><i class="ti ti-soundcloud"></i></a>
            </div>
            <div class="play-pause-button">
                <i class="ti ti-control-play"></i>
            </div>
            <div class="name-artist">
                <h3>Miaow - Believe Me</h3>
            </div>
            <time class="trak-duration"> 04:05</time>
        </div>
        <!-- Item End -->

        <!-- Item -->
        <div class="trak-item" data-audio="http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3" data-artist="Miaow" data-thumbnail="http://placehold.it/790x766" data-id="trak-201">
            <audio preload="metadata" src="http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3" title="Believe Me"></audio>
            <div class="additional-button">
                <a href="#"><i class="ti ti-headphone"></i></a>
                <a href="#"><i class="ti ti-apple"></i></a>
                <a href="#"><i class="ti ti-soundcloud"></i></a>
            </div>
            <div class="play-pause-button">
                <i class="ti ti-control-play"></i>
            </div>
            <div class="name-artist">
                <h3> Miaow - Believe Me</h3>       
            </div>
            <time class="trak-duration">04:05</time>
        </div>
        <!-- Item End -->

        <!-- Item -->
        <div class="trak-item" data-audio="http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3" data-artist="Miaow" data-thumbnail="http://placehold.it/790x766" data-id="trak-201">
            <audio preload="metadata" src="http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3" title="Believe Me"></audio>
            <div class="additional-button">
                <a href="#"><i class="ti ti-headphone"></i></a>
                <a href="#"><i class="ti ti-apple"></i></a>
                <a href="#"><i class="ti ti-soundcloud"></i></a>
            </div>
            <div class="play-pause-button">
                <i class="ti ti-control-play"></i>
            </div>
            <div class="name-artist">
               <h3> Miaow - Believe Me</h3>       
            </div>
            <time class="trak-duration">04:05</time>
        </div>
        <!-- Item End -->
    </div>
</div>
<!-- End Of playlist -->
{%endblock%}