{% extends "header.html" %} {% block style %}
<!-- Carga de Galeria de imágenes -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}"> {% endblock %} {% block content %} {% include "includes/reproductor.html" %} {% include "includes/menu.html" %}

{% include "includes/imagen-titulo.html" %}


<main class="calendarioComp py-20" id="importante">
    <article class="container">
        <div class="row">
            
            {% for obj in object_list %}
            <div class="col-12">
                <a href="/calendario/{{obj.linkEvento}}" class="link-evento">
                    <div class="row link-row">
                        {% load i18n %} {% language 'es' %}
                        <div class="col-12 col-sm-4"><span>{{obj.fecha|date:'d F Y'}}</span></div>
                        {% endlanguage %}
                        <div class="col-12 col-sm-4"><span><b>{{obj.titulo}}</b></span></div>
                        <div class="col-12 col-sm-4"><span><b>{{obj.lugar}}</b></span></div>
                    </div>

                </a>
            </div>
            {% empty %}
            <div class="col-12">
                <h2 class="proximamente_eventos">Proximamente</h2>
            </div>
            {% endfor %}

        </div>
    </article>
</main>

{% include "includes/footer.html" %} {%endblock%} {% block js %}
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".link-evento").click(function() {
            window.location = $(this).data("href");
        });
    });

</script>
{% endblock %}
