{% extends "header.html" %} {% block style %}
<!-- Carga de Galeria de imágenes -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}"> {% endblock %} {% block content %} {% include "includes/reproductor.html" %} {% include "includes/menu.html" %}

{% include "includes/imagen-titulo.html" %}

<main class="contacto" id="importante">
    <article class="container">

        <form role="form" action="" method="post">
            {% csrf_token %} {{form.non_field_errors}}

            <div class="info_contacto row">
                <div class="fieldWrapper col-xs-12 col-md-6">
                    {{ form.nombre.errors }}
                    <label><span>Nombre</span> {{ form.nombre }}
                    </label>
                </div>
                <div class="fieldWrapper col-xs-12 col-md-6">
                    {{ form.email.errors }}
                    <label><span>Correo</span> {{ form.email }}
                    </label>
                </div>
            </div>
            <div class="info_contacto row">

                <div class="fieldWrapper col-xs-12 col-md-6">
                    {{ form.asunto.errors }}
                    <label><span>Asunto</span> {{ form.asunto }}
                    </label>
                </div>
                <div class="fieldWrapper col-xs-12 col-md-6">
                    {{ form.dirigido.errors }}
                    <label><span>Dirigido a</span> {{ form.dirigido }}
                    </label>
                </div>

            </div>
            <div class="row">
                <div class="fieldWrapper col-xs-12">
                    {{ form.content.errors }}
                    <label><span>Mensaje</span> {{ form.content }}
                    </label>
                </div>
            </div>

            <div class="boton_enviar">
                <input class="boton" type="submit" value="Enviar">
            </div>

        </form>

    </article>
</main>

{% include "includes/footer.html" %} {%endblock%} {% block js %} {% endblock %}
