{% extends "header.html" %} {% block style %}
<!-- Carga de Galeria de imágenes -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}"> {% endblock %} {% block content %} {% include "includes/menu.html" %}
{% include "includes/imagen-titulo.html" %}


<main class="discografia py-2" id="importante">
    <article class="container">
        <div class="row">
            {% for obj in object_list %}
            <div class="disco-container col-xs-12 col-sm-6 col-md-4">
                <div class="disco-info">
                    <a href="/discos/{{obj.nombDisco}}">
                        <img src="{{ MEDIA_URL }}{{ obj.imagen.url }}" alt="{{obj.nombre}}" />
                        <span class="texto">{{obj.nombre}}<br>{{obj.anno}}</span>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>


    </article>
</main>
{% include "includes/footer.html" %} {%endblock%} {% block js %} {% endblock %}
