{% extends "header.html" %} {% block style %}
<!-- Carga de Galeria de imágenes -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}"> {% endblock %} {% block content %} {% include "includes/menu.html" %}
{% include "includes/imagen-titulo.html" %}



<main class="discoCompleto" id="importante">
    <article class="texto-disco">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="image">
                        <img src="{{ MEDIA_URL }}{{ disco.imagen.url }}" class="img img-responsive full-width" alt="Imagen Disco {{disco.nombre}}">
                    </div>
                </div>

                <div class="col-12 col-md-6 wow bounce info-container">
                    <h3 class="text-center font-weight-bold titulo-disco">{{disco.nombre}}</h3>
                    <div class="informacion">
                        <p class="info-general">{{disco.anno}} | {{disco.nombre_banda}}</p>
                        <p class="info-general">{{disco.integrantes}}</p>
                        <p class="info-general">{{disco.info}}</p>
                    </div>
                </div>

                <div class="col-12 col-md-6 wow bounce info-container">
                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        {% for obj in canciones %}


                        <div class="card">
                            <div class="card-header" role="tab" id="heading{{ forloop.counter }}">

                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                                    <p class="titulo_cancion_DC">{{obj.nombre}}</p>
                                    <p class="musica_letra_DC">Música: {{obj.comp_musica}} | Letra: {{obj.comp_letra}}</p>
                                </a>

                            </div>

                            <div id="collapse{{ forloop.counter }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}">
                                <div class="card-block">
                                    {{obj.letra}}
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </article>
</main>
{% include "includes/footer.html" %} {%endblock%} {% block js %} {% endblock %}
