{% extends "header.html" %} {% block style %}
<!-- Carga de Galeria de imágenes -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}"> {% endblock %} {% block content %} {% include "includes/reproductor.html" %} {% include "includes/menu.html" %}

{% include "includes/imagen-titulo.html" %}


<!-- <main class="gracias_mensaje" id="importante">
    <article class="container mensaje">
        <div class="row">
            <div class="col-12">
                <p>
                    Muchas gracias por comunicarse con nosotros {{nombre}}.
                </p>
            </div>
        </div>
    </article>
</main> -->
{% include "includes/footer.html" %} {%endblock%} {% block js %} {% endblock %}
