{% extends "header.html" %} {% block style %}
<!-- Carga de Galeria de imágenes -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">

{% endblock %} {% block content %} {% include "includes/reproductor.html" %} {% include "includes/menu.html" %}


{% load static %}


<main class="prensa" id="importante">
    <div class="center pastilla_prensa">
        <img src="{% static 'icons/pastilla-01.svg' %}" class="pastilla_grande"></img>
        <p class="title">Prensa</p>
    </div>
    <div class="center logo_prensa">
        <img src="{% static 'icons/lalala-logo.svg' %}" class="lalala_grande"></img>
    </div>
    <!-- section -->
    <section class="har_section har_image_bck integrantes_prensa" id="artist">
        <div class="container text-center">

            <!-- boxes -->
            <div class="har_icon_boxes row text-center">


                <!-- slider -->  
                <div class="har_team_slider">

                    <!-- Kevin Calvo -->
                    <div class="har_icon_box har_team_box">
                        <div class="har_icon_box_photo">
                            <img src="{{ MEDIA_URL }}{{ kevin.imagen_prensa.url }}" alt="Foto Kevin Calvo">
                        </div>
                        <div class="har_item_social har_item_social_press">
                            <a href="/biografia/#{{kevin.id_pagina}}">Biografía</a>
                        </div>
                        <h4><b>Kevin Calvo</b> <br>Guitarrista / Vocalista</h4>
                    </div> 

                    <!-- Roberto Cruz -->
                    <div class="har_icon_box har_team_box">
                        <div class="har_icon_box_photo">
                            <img src="{{ MEDIA_URL }}{{ bob.imagen_prensa.url }}" alt="Foto Roberto Cruz">
                        </div>
                        <div class="har_item_social har_item_social_press">
                            <a href="/biografia/#{{bob.id_pagina}}">Biografía</a>
                        </div>
                        <h4><b>Roberto Cruz</b> <br>Baterista</h4>
                    </div> 

                    <!-- Kenneth Calvo -->
                    <div class="har_icon_box har_team_box">
                        <div class="har_icon_box_photo">
                            <img src="{{ MEDIA_URL }}{{ kenneth.imagen_prensa.url }}" alt="Foto Kenneth Calvo">
                        </div>
                        <div class="har_item_social har_item_social_press">
                            <a href="/biografia/#{{kenneth.id_pagina}}">Biografía</a>
                        </div>
                        <h4><b>Kenneth Calvo</b> <br>Bajista</h4>
                    </div> 
                </div>
                <!-- slider end -->
            </div>
            <!-- boxes end -->

        </div>
        <!-- container end -->

    </section>
    <!-- section end -->
    
    <article class="biografia_prensa">
        
    </article>
    <div class="propuesta_prensa">
        
    </div>
    <div class="fotos_prensa container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <p class="prensa_title center">
                    Fotos
                </p>
            </div>
            <div class="col-md-offset-1 col-md-10">
                <div class="galleria margin_auto">
                    {% for foto in fotos %}
                    <img src="{{ MEDIA_URL }}{{foto.imagen.url}}" data-title="{{foto.nombre}}" data-description="{{foto.descripcion}}">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="videos_prensa container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <p class="prensa_title center">
                    Videos
                </p>
            </div>
            <div class="col-md-offset-1 col-md-10">
                <div class="galleria margin_auto">
                    {% for video in videos %}
                    <a href="http://www.youtube.com/watch?v={{video.url}}"><img src="{{ MEDIA_URL }}{{video.imagen.url}}" data-title="{{video.nombre}}"></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="enlaces_prensa container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <p class="prensa_title center">
                    Redes Sociales
                </p>
            </div>
            <div class="col-md-offset-1 col-md-10">
                <ul class="lista_enlaces">
                    <li class="enlace_li">
                        <a href="https://lalala-oficial-kenca23.c9users.io/facebook" target="_blank" class="enlace_a">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            Facebook
                        </a>
                    </li>
                    <li class="enlace_li">
                        <a href="https://lalala-oficial-kenca23.c9users.io/twitter" target="_blank" class="enlace_a">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            Twitter
                        </a>
                    </li>
                    <li class="enlace_li">
                        <a href="https://lalala-oficial-kenca23.c9users.io/instagram" target="_blank" class="enlace_a">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            Instagram
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="contactenos_prensa contacto container">
        <form role="form" action="" method="post">
            {% csrf_token %} {{form.non_field_errors}}

            <div class="info_contacto row">
                <div class="fieldWrapper col-xs-12 col-md-6">
                    {{ form.nombre.errors }}
                    <label><span>Nombre</span> {{ form.nombre }}
                    </label>
                </div>
                <div class="fieldWrapper col-xs-12 col-md-6">
                    {{ form.email.errors }}
                    <label><span>Correo</span> {{ form.email }}
                    </label>
                </div>
            </div>
            <div class="info_contacto row">

                <div class="fieldWrapper col-xs-12">
                    {{ form.asunto.errors }}
                    <label><span>Asunto</span> {{ form.asunto }}
                    </label>
                </div>

            </div>
            <div class="row">
                <div class="fieldWrapper col-xs-12">
                    {{ form.content.errors }}
                    <label><span>Mensaje</span> {{ form.content }}
                    </label>
                </div>
            </div>

            <div class="boton_enviar">
                <input class="boton" type="submit" value="Enviar">
            </div>

        </form>
    </div>
</main>
 {% include "includes/footer.html" %} {%endblock%} {% block js %}
     <script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/galleria.min.js"></script>
    <script>
    	(function() { 
            Galleria.loadTheme('https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/themes/classic/galleria.classic.min.js');
            Galleria.run('.galleria');
        }());
    </script>
    <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $owlContainer = $('.owl-carousel');
            $owlSlides = $owlContainer.children('a');
    
            // More than one slide - initialize the carousel
            if ($owlSlides.length > 2) {
                $owlContainer.owlCarousel({
                    // options go here
                    loop: true,
                    margin: 0,
                    nav: true,
                    autoWidth: false,
                    navText: ['<i class="fa fa-chevron-circle-left" title="Anterior"></i>', '<i class="fa  fa-chevron-circle-right" title="Siguiente"></i>'],
                    responsive: {
                        0: {
                            items: 1
                        },
                        500: {
                            items: 2,
                            margin: 20
                        },
                        800: {
                            items: 3,
                            margin: 20
                        }
                    }
    
                });
                // Only one slide - do something else
            } else if ($owlSlides.length == 2) {
                $owlContainer.owlCarousel({
                    // options go here
                    loop: true,
                    margin: 0,
                    nav: true,
                    autoWidth: false,
                    navText: ['<i class="fa fa-chevron-circle-left" title="Anterior"></i>', '<i class="fa  fa-chevron-circle-right" title="Siguiente"></i>'],
                    responsive: {
                        0: {
                            items: 1
                        },
                        500: {
                            items: 2,
                            margin: 20
                        },
                        800: {
                            items: 2,
                            margin: 20
                        }
                    }
    
                });
                // Only one slide - do something else
            } else {
                $owlContainer.owlCarousel({
                    center: true,
                    loop: false,
                    margin: 0,
                    nav: false,
                    autoWidth: false,
                    singleItem: true
                });
            }
    
        });
        
    </script>
 {% endblock %}
