{% extends "header.html" %} {% block style %}
<!-- Carga de Galeria de imágenes -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}"> {% endblock %} {% block content %} {% include "includes/reproductor.html" %} {% include "includes/menu.html" %}

{% load static %}


<main class="prensa" id="importante">
    <div class="pastilla_prensa">
        
    </div>
    <div class="logo_prensa">
        
    </div>
    <div class="integrantes_prensa">
        
    </div>
    <article class="biografia_prensa">
        
    </article>
    <div class="propuesta_prensa">
        
    </div>
    <div class="fotos_prensa">
        
    </div>
    <div class="videos_prensa">
        
    </div>
    <div class="enlaces_prensa">
        
    </div>
    <div class="contactenos_prensa">
        
    </div>
</main>
 {% include "includes/footer.html" %} {%endblock%} {% block js %} {% endblock %}
